.app-header {
    align-items: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
  }

  h2 {
    text-align: center;
  }
  
  /* Styles for the menu list */
  .menu-list {
    text-align: center;
  }
  
  /* Styles for the menu items (links) */
  .menu-item {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
  }
  
  /* Hover styles for the menu items */
  .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  