.product-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // max-width: 1024px;
    margin-bottom: 64px;

    .product-photo {
      width: 400px;
      height: 500px;
      margin-right: 50px;
    }
  }
  
  // .product-container {
  //   display: flex;
  //   justify-content: center;
  // }

  
  
  